body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    top:1vw;
    right:5vw;
    position:absolute;
  }

  .line {
    width: 30px;
    height: 5px;
    border-radius: 20px;
    background-color: #c5c212;
    margin: 6px 0;
    transition: transform 0.5s ease;
  }

  .hamburger:active .line:first-child {
    transform: rotate(-360deg);
    transform-origin: center;
  }

  .hamburger:active .line:last-child {
    transform: rotate(360deg);
    transform-origin: center;
  }






header {
  background-color: #1e3753; /* Sea Blue */
  color: white;
  border-radius: 0 0 30px 30px;
  text-align: center;
  width: 100%; 
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.logo {
    margin-right:50px;
  margin-top: 10px; 
  height: 5vw; 

} 
 
nav a{
  color: #1e3753;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  background-color: #f0e130;
  text-decoration: none;
 
} 
@media screen and (max-width: 768px) {
    nav a {
      display: none;
    }
    
.logo {
    margin-right:50px;
  margin-top: 10px; 
  height: 10vw; 

} 
}

ul li{
display: inline;
    list-style: none;
    
}

footer {
  background-color: #1e3753; /* Sea Blue */
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
hr {
  width: 80vw;
}
main {
  text-align: center;
  color: #1e3753;
}
.service-card {
  background-color: #f0e130; /* Dark Yellow */
  color: #154734; /* Dark Green */
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: inline-block;
  text-align: center;
}

.gallery {
  /* Add gallery styles */
}

.team {
  /* Add team styles */
}

.about {
  /* Add about styles */
}

.contact {
  /* Add contact styles */
}
