body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  background-color: azure;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    top:1vw;
    right:5vw;
    position:absolute;
    z-index: 999;
  }

  .line {
    width: 30px;
    height: 5px;
    border-radius: 20px;
    background-color: #c5c212;
    margin: 6px 0;
    transition: transform 0.2s ease;
  }

  .hamburger:active .line:first-child {
    transform: rotate(-360deg);
    transform-origin: center;
  }

  .hamburger:active .line:last-child {
    transform: rotate(360deg);
    transform-origin: center;
  }






header {
  background-color: #1e3753; /* Sea Blue */
  color: white;
  border-radius: 0 0 30px 30px;
  text-align: center;
  width: 100%; 
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.logo {
    margin-right:50px;
  margin-top: 10px; 
  height: 5vw; 

} 
 .logo a {
  background-color: red;
 }
footer a {
  text-decoration: none;
  color: white;
}
nav a{
  color: #1e3753;
  display: block; 
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: #f0e130;
  text-decoration: none;
} 

#menu { 
  display: flex;
  position: fixed; 
  flex-direction: column; 
  padding: 20vw;
  text-align: right;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
}






a:hover {
    background-color: #00ff00;  
    border-radius: 20px;
  }

  
@media screen and (max-width: 768px) {
    body { 
        margin: 10px; 
      }
    #menupc a {
      display: none;
    }
    
.logo {
    margin-right:50px;
  margin-top: 10px; 
  height: 10vw; 

} 
}

ul li{
display: inline;
    list-style: none;
    
}

footer {
  background-color: #1e3753; /* Sea Blue */
  color: white;
  text-align: center;
  padding: 10px; 
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
} 


main {
  text-align: center;
  color: #1e3753;
}
.img {
    width: 70vw;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .img:hover {
    transform: scale(1.1);
  }

.service-card {
  background-color: #f0e130; /* Dark Yellow */
  color: #154734; /* Dark Green */
  padding: 20px; 
  border-radius: 50px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80vw;
  display: inline-block;
  text-align: center;
}

.gallery {
  /* Add gallery styles */
}

.team {
  /* Add team styles */
}

.about {
  /* Add about styles */
}

.contact {
  /* Add contact styles */
}
